<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>L1.1</title>
</head>
<body>
<form action="/page.html" method="POST">
    Login: <input type="text" name="message"/>
    <input type="submit" value="Ok">
</form>

&lt;!&ndash;<p>Message: ${message}</p>&ndash;&gt;

&lt;!&ndash;<p>Method: ${method}</p>&ndash;&gt;

&lt;!&ndash;<p>URL: ${URL}</p>&ndash;&gt;

&lt;!&ndash;<p>PathInfo: ${pathInfo}</p>&ndash;&gt;

&lt;!&ndash;<p>SessionId: ${sessionId}</p>&ndash;&gt;

<p>Parameters: ${parameters}</p>

</body>
</html>

-->
